#cor1{
    background-color: yellow;
    height: 100px;
}

#cor2{
    background-color: aquamarine;
    height: 100px;
}

#cor3{
    background-color: yellowgreen;
    height: 100px;

}

#paragrafo1{
    
}